<!doctype html />
<html>
<head>
  <title>Geektropolis Cantina</title>
  <style rel="stylesheet" type="text/css" href="/css/stylesheet-0.0.1.min.css"></style>
  <script src="/js/javascript-0.0.1.min.js" type="text/javascript"></script>
</head>
<body ng-app="geektropolis" ng-controller="commonController">
  <ul ng-repeat="( title, url ) in siteMap">
    <li><a href="{{ url }}">{{ title }}</li>
  </ul>
</body>
</html>
