#contentContainer {
  width: 100%;
  padding: 3% 5%;
  box-sizing: border-box;
  background-image: url(/img/content-background.png);
  background-repeat: repeat;
  position: absolute;
  top: 50%;
  left: 0;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  margin-bottom: 3em;
  transform: translate(0, -50%); }

.centered {
  margin: 0 auto; }

/*# sourceMappingURL=module.css.map */
