<h1>Contact Us</h1>
<div class='u-pull-left'>
  <pre><code>
    <iframe
      width="500"
      height="300"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDE4rrsM6SAdtj165H7eCB6YCmGq5JWGJ8&q=1144+Wyandotte+st+e,windsor+ontario"
      allowfullscreen>
    </iframe>
    </code></pre>
</div>
  <div class='u-pull-right'>
    <div class='u-pull-left'>
    <h4>Phone</h4>
    <pre><code>123 456 7891</code></pre>
    <h4>Email</h4>
    <pre><code>contact@geektropolis.cafe</code></pre>
  </div>
  <!--<div class='u-pull-right'>
    <h4>Hours</h4>
    <pre><code>
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
    </code></pre>
  </div>-->
</div>
