<h1>Welcome to the Geektropolis Cafe!</h1>
<p>We are Windsor, Ontario's premier board game cafe.  We offer a variety of services to customers:</p>
<ul>
  <li>A Full Service Cafe
  <li>Over [x] square feet of useable space for board game or tabletop activities
  <li>Regular organized play for card and board games
</ul>
<p>We also have a unique membership program known as the Geektropolis Citizenry.</p>
<ul>
  <li>A growing collection of over 1000 board games, available to any Geektropolis Citizen.
  <li>Monthly events!
  <li>100% of membership fees go directly into services available to members.
</ul>
<p>For more information, <a href='/contact'>contact us</a>!
