<h1>Member Login</h1>
<form>
  <div class='row'>
    <div class='six columns'>
      <label for='userName'>Username:</label>
      <input class='u-full-width' type='text' id='username' name='userName' placeholder='UserName' />
    </div>
    <div class='six columns'>
      <label for='userPassword'>Password:</label>
      <input class='u-full-width' type='password' id='userPassword' name='userPassword' placeholder='Password' />
    </div>
  </div>
  <div class='centered'>
    <input class="button-primary" type="submit" value="Submit">
    <input class="button" type="Register" value="Register">
  </div>
</form>
