<!doctype html />
<html ng-app="geektropolis">
<head>
  <title>Geektropolis Cafe</title>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/stylesheet-{{ VERSION }}.min.css" />
  <script src="/js/javascript-{{ VERSION }}.min.js" type="text/javascript"></script>
  <base href='/'>
</head>
<body ng-controller="commonController" style="background-image: url( {{currentBackground}} )">
  <header id='pageHeader'>
    <ul id='mainMenu'>
      <li><img src="/img/logo.png" alt="Logo" id="mainLogo" /></li>
      <li ng-repeat="page in siteMap"><a href="{{ page.url }}" ng-class="{ active: isActive( page.url ) }">{{ page.label }}</a></li>
    </ul>
  </header>
  <div id='contentContainer'>
  <main class='container' ng-view>

  </main>
  </div>
  <footer>
    <div id='copyright'>&copy; 2017 Geektropolis Cafe.  All Rights Reserved.</div>
  </footer>
</body>
</html>
