#pageHeader {
  width: 100%;
  border-bottom: 1px solid #aeaeae;
  overflow: visible;
  position: fixed;
  top:0;
  z-index: 2;
  background-color: white;
}

#mainLogo {
  position: absolute;
  top: 0.5vh;
  width: 180px;
}

#mainMenu {
  width: 960px;
  list-style-type: none;
  margin: 0 auto;

  li {
    float: left;
    width: 192px;
    height: 50px;
    line-height: 50px;
    float: left;
    margin: 0;
    padding: 0;
  }
  a {
    color: black;
    height: 50px;
    width: 192px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    display: block;
    transition: .2s;

    &.active {
      background: #aeaeae;
      color: white;
    }

    &:hover {
      background: #ededed;
      color: black;
      transition: .2s;
      border-bottom: 1px solid black;
    }
  }
}

footer {
  width: 100%;
  border-top: 1px solid #aeaeae;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: white;
}

#copyright {
  width: 960px;
  margin: 0 auto;
  height: 3em;
  line-height: 3em;
  font-size: .8em;
}
